@import "tailwindcss";

/* Local Font Setup */

@font-face {
  font-family: "Raleway";
  src: url("/public/fonts/Raleway.ttf") format("truetype");
  font-weight: "normal";
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica-Roman.ttf") format("truetype");
  font-weight: "normal";
  font-style: normal;
}

@theme {
  --font-secondary: "Helvetica", sans-serif;
  --font-primary: "Raleway", sans-serif;
}

input, textarea {
  -webkit-appearance: none;
  line-height: 1.4;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 17px;
}

input::placeholder {
  transform: translateY(2px);
  line-height: 1.6;
}
